@font-face {
  font-family: 'Matrix';
  src: url('../fonts/matrix.ttf');
}

html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Share Tech Mono', monospace;
  position: relative;
}
h1, h2, h3 {
  font-family: 'Matrix';
  margin: 0 0 10px;
}
#canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 7px rgb(0 0 0 / 65%);
}
header h1, header p {
  margin: 0;
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}
header nav ul li a {
  word-spacing: -3px;
  padding: 5px 10px;
  color: #000;
  text-decoration: none;
  text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
  transition: text-shadow 0.2s linear;
}
header nav ul li a:hover {
  text-shadow: 0px 2px 6px rgb(0 0 0 / 60%);
}
a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
main {
  padding: 40px;
  max-width: 600px;
  margin: 128px auto 50px;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 65%)
}
main section:not(:nth-child(1)) h2 {
  margin-top: 40px;
}
#about-me p {
  text-align: justify;
}
#projects ul {
  list-style-type: circle;
}
#projects ul a {
  text-decoration: underline;
  color: #1d8f45;
  line-height: 1.3;
  transition: text-shadow 0.2s linear;
}
#projects ul a:hover {
  text-shadow: 0 1px 3px rgb(29 143 69 / 60%);
}
.group {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.skill figure, .contact figure {
  margin-inline: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.skill img, .contact img {
  max-width: 32px;
  width: 100%;
}

figcaption {
  position: absolute;
  top: 150%;
  left: -50%;
  background: rgb(0 0 0 / 80%);
  color: white;
  padding: 5px;
  border-radius: 6px;
  font-size: 14px;
  letter-spacing: -1px;
  width: 80px;
  margin-left: -14px;
  text-align: center;
  /*visibility: hidden;*/
  opacity: 0;
  transition: all 0.2s linear;
}
figcaption::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(0 0 0 / 80%) transparent;
}
figure:hover figcaption {
  /*visibility: visible;*/
  opacity: 1;
}
footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 15px;
  background: white;
  box-shadow: 0px -3px 7px rgb(0 0 0 / 65%);
}
#filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
#filters label {
  font-weight: bold;
}
footer p {
  margin: 0;
}