@font-face {
  font-family: 'Matrix';
  src: url('../fonts/matrix.ttf');
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Share Tech Mono', monospace;
  /*background: #fff;
  background: radial-gradient(circle, #3e657d 0%, #1e4258 40%, #0e202c 100%);*/
  background-image: url('/assets/images/ideas.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
}

/* The laptop with borders */
.device {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  left: 50%;
  position: absolute;
  top: 20px;
  width: 1366px;
  height: 800px;
  border-radius: 6px;
  border-style: solid;
  border-color: #ebeae7;
  border-width: 24px 24px 80px;
  background-color: #ebeae7;
}
/* The keyboard of the laptop */
.device:after {
  content: '';
  display: block;
  position: absolute;
  width: 1600px;
  height: 60px;
  margin: 80px 0 0 -110px;
  background: #ebeae7;
  border-radius: 6px;
}
/* The top of the keyboard */
.device:before {
  content: '';
  display: block;
  position: absolute;
  width: 250px;
  height: 30px;
  bottom: -110px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: #555c65;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}
/* The screen (or content) of the device */
.device .content {
  width: 1366px;
  height: 800px;
  overflow: hidden;
  border: none;
  background: rgb(50,50,50);
  background: radial-gradient(circle, #555c65 0%, #3c434c 40%, #191a1e 100%);
  /*background: linear-gradient(90deg, rgb(8 8 8) 0%, rgb(14 14 14) 52%, rgb(24 24 24) 100%);*/
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Matrix';
  margin: 20px 0;
  text-shadow: 0px 0px 6px #22b455;
}
main header, footer {
  text-align: left;
  font-size: 1.5em;
  padding: 10px 20px;
}
type {
  line-height: 1.5em;
  color: #f1f1f1;
}
main header {
  margin: 25px 20px 40px;
  min-height: 50px;
}
main footer {
  margin: 40px 20px 10px;
  min-height: 285px;
}
#pills {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  padding: 0px 20px;
  transition: all 1s linear;
}
#pills div {
  width: 100%;
  padding: 0px 20px;
  margin: 10px 0;
}
#pills a {
  display: inline-block;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  padding: 10px 30px;
  font-size: 1.5em;
  text-decoration: none;
  box-shadow: rgba(155, 155, 155, .3) 15px 28px 25px -18px;
  transition: all 0.2s linear;
}
#pills a.red-pill {
  border: 1px solid #EE3233;
  background: rgb(238 50 51 / 10%);
}
#pills a.blue-pill {
  border: 1px solid #66A7C5;
  background: rgb(102 167 197 / 10%);
}
#pills div a:hover {
  box-shadow: rgba(155, 155, 155, .4) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
#pills div a.red-pill:hover {
  background: #EE3233;
}
#pills div a.blue-pill:hover {
  background: #66A7C5;
}
#pills div a:focus {
  box-shadow: rgba(155, 155, 155, .4) 2px 8px 4px -6px;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 15px;
  font-size: 0.8em;
  background: rgb(14 32 44 / 30%);
  color: #ebeae7;
  box-shadow: 0px 0px 7px #000;
  transition: all 0.2s linear;
}
#filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
#filters select {
  font-size: 0.95em;
}
#footer p {
  margin: 0;
}
#options {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  text-align: center;
}
#options p {
  font-size: 1.5em;
  color: #f1f1f1;
}
button {
  background: none;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  padding: 10px 30px;
  font-size: 1.5em;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  box-shadow: rgba(155, 155, 155, .3) 15px 28px 25px -18px;
  transition: all 0.2s linear;
}
button:hover {
  background: #f1f1f1;
  color: #1e4258;
  box-shadow: rgba(155, 155, 155, .4) 2px 8px 8px -5px;
  transform: translate3d(0, 3px, 0);
}

/* CURSOR Typewriter */
#source, #source-1 {
  display: none;
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;

  }

  100% {
    opacity: 1;
  }
}
.cursor {
  animation: blink 0.8s linear infinite alternate;
  background-color: #f1f1f1 !important;
}

#skip {
  display: none;
  position: absolute;
  right: 40px;
  bottom: 35px;
}
#source-show p, #source-show-1 p {
  color: #f1f1f1;
  line-height: 1.5em;
  margin: 0;
}

@media only screen and (max-width: 700px) {
  /* The device with borders */
  .device {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px #ebeae7 solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .device:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .device:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #ebeae7;
    border: 1px solid rgb(50,50,50);
    border-radius: 50%;
    margin: 0 auto;
  }

  /* The screen (or content) of the device */
  .device .content {
    width: 360px;
    height: 640px;
    background: rgb(50,50,50);
    background: radial-gradient(circle, #555c65 0%, #3c434c 40%, #191a1e 100%);
    /*background: linear-gradient(90deg, rgb(8 8 8) 0%, rgb(14 14 14) 52%, rgb(24 24 24) 100%);*/
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
  }
}
/*@media only screen and (max-width: 480px) {
  
}*/