@font-face {
  font-family: 'Typewriter';
  src: url('../fonts/elegant-typewriter-regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Typewriter';
  src: url('../fonts/elegant-typewriter-light.ttf');
  font-weight: lighter;
}
@font-face {
  font-family: 'Typewriter';
  src: url('../fonts/elegant-typewriter-bold.ttf');
  font-weight: bold;
}
body {
  background-image: url('/escritor/assets/images/24.jpg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: 'Typewriter';
  text-align: center;
}
a {
  color: #ffffff;
  text-decoration: none;
}
h2 {
  color: #5cc9f4;
  font-size: 1.5em;
}

header {
  max-width: 480px;
  width: 100%;
  margin: 20px auto 60px;
}
header a {
  transition: all 0.2s linear;
}
header a:hover {
  color: #5cc9f4;
  border-color: #5cc9f4;
}
main {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.libro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  margin: 90px 0;
}
.libro:nth-child(even) {
  flex-direction: row-reverse;
}
.libro img {
  width: 250px;
}
.libro .contenido {
  background: linear-gradient(135deg, rgb(116 116 116 / 30%), rgb(92 201 244 / 60%));
  border-radius: 7px;
  padding: 25px;
  width: 100%;
  box-shadow: rgb(111 111 111 / 17%) 0px -23px 25px 0px inset, rgb(111 111 111 / 15%) 0px -36px 30px 0px inset, rgb(111 111 111 / 10%) 0px -79px 40px 0px inset, rgb(111 111 111 / 6%) 0px 2px 1px, rgb(111 111 111 / 9%) 0px 4px 2px, rgb(111 111 111 / 9%) 0px 8px 4px, rgb(111 111 111 / 9%) 0px 16px 8px, rgb(111 111 111 / 9%) 0px 32px 16px;
}
.contenido {
  opacity: 0;
  transform: translateY(-70px);
}
@media (prefers-reduced-motion: no-preference) {
  .contenido {
    transition: opacity 1.3s ease, transform 1.3s ease;
  }
}
.fall-transition {
  opacity: 1;
  transform: none;
}
.libro .contenido .titulo {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto 5px;
}
.libro .contenido .autor {
  font-style: italic;
  margin: 0 auto 20px;
}
.libro .contenido .opinion {
  overflow-y: auto;
  max-height: 210px;
  margin-bottom: 30px;
  padding: 0 10px;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.2em;
}
.libro .contenido .opinion::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: linear-gradient(135deg, rgb(116 116 116 / 30%), rgb(92 201 244 / 60%));
}
.libro .contenido .opinion::-webkit-scrollbar {
  width: 4px;
  background-color: linear-gradient(135deg, rgb(116 116 116 / 30%), rgb(92 201 244 / 60%));
}
.libro .contenido .opinion::-webkit-scrollbar-thumb {
  background-color: rgb(92 201 244 / 60%);
}
.libro .contenido a {
  font-size: 1em;
  font-weight: lighter;
  padding: 6px 20px;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 2px 2px 4px 0px #004966;
  background: rgb(92 201 244 / 50%);
  transition: all 0.2s linear;
}
.libro .contenido a:hover {
  box-shadow: 1px 1px 1px 0px #004966;
}